@mixin button {
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    padding: 8px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btn-theme {
    @include button;
    background: $main-color;
    color: $white;
    border: none;

    &:hover {
        text-decoration: none;
        background: $gray-700;
        color: $white;
    } 
}