<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e95607c-110c-4120-9b12-5818e099d2e2" Alias="Contact" Level="2">
  <Info>
    <Parent Key="53d45ca9-2de2-4b4a-9253-24990c7f2af6">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-10-02T17:15:33</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c8600c71-fa50-4e07-be44-b674ee59e0c1">contactPage</Template>
  </Info>
  <Properties>
    <collaborationsImageFive>
      <Value><![CDATA[[
  {
    "key": "0dd85309-355e-4062-9d32-9fc693284656",
    "mediaKey": "d060adf3-bca1-433f-a931-073bcdb73e57",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </collaborationsImageFive>
    <collaborationsImageFour>
      <Value><![CDATA[[
  {
    "key": "05b77cb0-844b-49c6-ad80-10f70d3302c1",
    "mediaKey": "7a5b0c11-9e63-4ae1-bd86-c3eeecbc4fb4",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </collaborationsImageFour>
    <collaborationsImageOne>
      <Value><![CDATA[[
  {
    "key": "21964a98-404b-4241-8647-1fb338cb5a1c",
    "mediaKey": "63f74115-e601-40b7-b007-3185ef441533",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </collaborationsImageOne>
    <collaborationsImageSix>
      <Value><![CDATA[[
  {
    "key": "7d334642-fcda-4a4f-904c-fe9aab6cd66a",
    "mediaKey": "3967041d-6e58-4084-88c1-6b8b2990aec6",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </collaborationsImageSix>
    <collaborationsImageThree>
      <Value><![CDATA[[
  {
    "key": "41c3eda6-7409-47da-810d-374fde4464af",
    "mediaKey": "7bb262c4-0dd3-46d8-ae55-af96234e3c5d",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </collaborationsImageThree>
    <collaborationsImageTwo>
      <Value><![CDATA[[
  {
    "key": "f3de55bc-76ff-4870-a464-0a8b57edf8d0",
    "mediaKey": "9d23850a-ab11-4541-8faa-8839c4ac5759",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </collaborationsImageTwo>
    <contactBackgroundImageOne>
      <Value><![CDATA[[
  {
    "key": "2b960de4-6686-485f-8ede-5d7f45c443c3",
    "mediaKey": "54b5ec14-ede1-4518-84db-4e1b39cbabfe",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImageOne>
    <contactBackgroundImageTwo>
      <Value><![CDATA[[
  {
    "key": "4e24f75b-4d8b-44a1-b6c0-812003f210cd",
    "mediaKey": "6a555230-0374-4ff3-ac78-acf04d066722",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImageTwo>
    <contactBoxOneText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactBoxOneText>
    <contactBoxOneTitle>
      <Value><![CDATA[Office location]]></Value>
    </contactBoxOneTitle>
    <contactBoxThreeText>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactBoxThreeText>
    <contactBoxThreeTitle>
      <Value><![CDATA[E-mail address]]></Value>
    </contactBoxThreeTitle>
    <contactBoxTwoText>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactBoxTwoText>
    <contactBoxTwoTitle>
      <Value><![CDATA[Phone number]]></Value>
    </contactBoxTwoTitle>
    <contactHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactHeadline>
    <contactMainImage>
      <Value><![CDATA[[
  {
    "key": "cb6efd51-8c97-4d47-851b-30f5a54e7964",
    "mediaKey": "826e48c5-5b71-4296-b616-d38a44aeec82",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactMainImage>
    <mapBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "e29f1e6c-32b4-491d-9f6b-8c51d63ac03b",
    "mediaKey": "73168b07-622c-40ce-8a84-225000e4b8e0",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mapBackgroundImage>
    <mapButtonText>
      <Value><![CDATA[Submit]]></Value>
    </mapButtonText>
    <mapButtonUrl>
      <Value><![CDATA[/contact/]]></Value>
    </mapButtonUrl>
    <mapHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </mapHeadline>
    <mapSectionTitle>
      <Value><![CDATA[REQUEST A CALL BACK]]></Value>
    </mapSectionTitle>
    <mapText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </mapText>
    <pageTitle>
      <Value><![CDATA[Contact]]></Value>
    </pageTitle>
    <pageTitleBreadcrumbCurrentText>
      <Value><![CDATA[Contact]]></Value>
    </pageTitleBreadcrumbCurrentText>
    <pageTitleBreadcrumbText>
      <Value><![CDATA[Home]]></Value>
    </pageTitleBreadcrumbText>
    <pageTitleBreadcrumbUrl>
      <Value><![CDATA[/]]></Value>
    </pageTitleBreadcrumbUrl>
    <pageTitleHeadline>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitleHeadline>
  </Properties>
</Content>