<?xml version="1.0" encoding="utf-8"?>
<Content Key="53d45ca9-2de2-4b4a-9253-24990c7f2af6" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-10-01T17:52:30</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4436c551-94f7-4cf2-8e63-724ebda8be0a">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "9aeccf99-c4c8-4bd8-85bc-1d73bc44d80e",
    "mediaKey": "89390363-f42c-4bec-a23d-16816b1ad4ac",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <collabsImageFive>
      <Value><![CDATA[[
  {
    "key": "86558937-9d39-41d5-bd07-576fb5df7b54",
    "mediaKey": "d060adf3-bca1-433f-a931-073bcdb73e57",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </collabsImageFive>
    <collabsImageFour>
      <Value><![CDATA[[
  {
    "key": "cd624df2-7785-44fd-ae89-70671d3ba5ed",
    "mediaKey": "7a5b0c11-9e63-4ae1-bd86-c3eeecbc4fb4",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </collabsImageFour>
    <collabsImageOne>
      <Value><![CDATA[[
  {
    "key": "7c670f50-2939-466b-8b76-680165efa7e6",
    "mediaKey": "63f74115-e601-40b7-b007-3185ef441533",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </collabsImageOne>
    <collabsImageSix>
      <Value><![CDATA[[
  {
    "key": "198e7d9b-7354-48fa-8600-8f1ba0a74279",
    "mediaKey": "3967041d-6e58-4084-88c1-6b8b2990aec6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </collabsImageSix>
    <collabsImageThree>
      <Value><![CDATA[[
  {
    "key": "f5724da1-f898-4721-bc6c-8ba4c88c4ded",
    "mediaKey": "7bb262c4-0dd3-46d8-ae55-af96234e3c5d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </collabsImageThree>
    <collabsImageTwo>
      <Value><![CDATA[[
  {
    "key": "d165cfe0-9b52-424e-92e4-04e33589eed5",
    "mediaKey": "9d23850a-ab11-4541-8faa-8839c4ac5759",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </collabsImageTwo>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <projectsCardFourImage>
      <Value><![CDATA[[
  {
    "key": "b14624c6-461d-48c3-bd5f-af8638b90151",
    "mediaKey": "0331c4fb-b7ff-4650-acc0-637bc708daed",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsCardFourImage>
    <projectsCardFourText>
      <Value><![CDATA[Financial Services]]></Value>
    </projectsCardFourText>
    <projectsCardFourTitle>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </projectsCardFourTitle>
    <projectsCardOneImage>
      <Value><![CDATA[[
  {
    "key": "70fe0395-b77d-4148-a4d0-f11e197879c1",
    "mediaKey": "f8b4b027-f610-43bf-884f-8def0381fac6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsCardOneImage>
    <projectsCardOneText>
      <Value><![CDATA[Financial Services]]></Value>
    </projectsCardOneText>
    <projectsCardOneTitle>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </projectsCardOneTitle>
    <projectsCardThreeImage>
      <Value><![CDATA[[
  {
    "key": "470efbda-313b-4784-9e92-f555ea2a7c61",
    "mediaKey": "07a699cd-18c5-46a5-8e7b-a9a7b1758cde",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsCardThreeImage>
    <projectsCardThreeText>
      <Value><![CDATA[Financial Services]]></Value>
    </projectsCardThreeText>
    <projectsCardThreeTitle>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc.]]></Value>
    </projectsCardThreeTitle>
    <projectsCardTwoImage>
      <Value><![CDATA[[
  {
    "key": "bcd553f2-814c-4107-a202-ad9d98bf49f2",
    "mediaKey": "dbef342d-4e1b-449b-9df1-b1b18e5a1a94",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsCardTwoImage>
    <projectsCardTwoText>
      <Value><![CDATA[Financial Services]]></Value>
    </projectsCardTwoText>
    <projectsCardTwoTitle>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </projectsCardTwoTitle>
    <projectsHeadline>
      <Value><![CDATA[Recent projects]]></Value>
    </projectsHeadline>
    <projectsSectionTitle>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </projectsSectionTitle>
    <servicesCardFiveImage>
      <Value><![CDATA[[
  {
    "key": "71dc31c0-1a7e-4c9b-b948-946bb832e3b3",
    "mediaKey": "79c2c395-17eb-4492-94cb-412832f4524a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesCardFiveImage>
    <servicesCardFiveText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </servicesCardFiveText>
    <servicesCardFiveTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </servicesCardFiveTitle>
    <servicesCardFourImage>
      <Value><![CDATA[[
  {
    "key": "ef8da317-07ab-47f5-aab6-360acc00f41f",
    "mediaKey": "8daca2b0-ec6f-434c-806b-667c894a459b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesCardFourImage>
    <servicesCardFourText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </servicesCardFourText>
    <servicesCardFourTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </servicesCardFourTitle>
    <servicesCardOneImage>
      <Value><![CDATA[[
  {
    "key": "72eeb87e-05ca-4753-92a2-601fddee5dc2",
    "mediaKey": "ce5d92a1-22d0-4cfe-afe9-60ad83854120",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesCardOneImage>
    <servicesCardOneText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </servicesCardOneText>
    <servicesCardOneTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </servicesCardOneTitle>
    <servicesCardSixImage>
      <Value><![CDATA[[
  {
    "key": "24cc012d-fc54-4c52-9ca7-57e231188a5c",
    "mediaKey": "0ef60903-91b2-49d7-99b0-a8a495df31a1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesCardSixImage>
    <servicesCardSixText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </servicesCardSixText>
    <servicesCardSixTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </servicesCardSixTitle>
    <servicesCardThreeImage>
      <Value><![CDATA[[
  {
    "key": "aa827588-bfab-457d-acb4-7f2bc9a1491d",
    "mediaKey": "943d0f20-ee23-4208-8f9e-f0d0e73e92c4",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesCardThreeImage>
    <servicesCardThreeText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </servicesCardThreeText>
    <servicesCardThreeTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </servicesCardThreeTitle>
    <servicesCardTwoImage>
      <Value><![CDATA[[
  {
    "key": "82e41983-cc16-4ec9-9168-608207729c94",
    "mediaKey": "c13a49dc-7fea-41c6-8ad4-794b6c115e0e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesCardTwoImage>
    <servicesCardTwoText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </servicesCardTwoText>
    <servicesCardTwoTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </servicesCardTwoTitle>
    <servicesHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </servicesHeadline>
    <servicesSectionTitle>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </servicesSectionTitle>
    <showcaseBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "e3c8dd0c-8dc1-4860-90f6-8bd8160c56c9",
    "mediaKey": "384579a8-7fb2-47dd-a177-9d5b6cef2449",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </showcaseBackgroundImage>
    <showcaseButtonText>
      <Value><![CDATA[Contact Us]]></Value>
    </showcaseButtonText>
    <showcaseButtonUrl>
      <Value><![CDATA[/contact]]></Value>
    </showcaseButtonUrl>
    <showcaseHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </showcaseHeadline>
    <showcaseText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </showcaseText>
    <successBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "7a982a0f-9213-4865-91ac-f8e28e4fb9d1",
    "mediaKey": "f8fd1c7a-9b60-44b3-9c66-459f1b4d4b1b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successBackgroundImage>
    <successConferenceImage>
      <Value><![CDATA[[
  {
    "key": "a5ee4e7d-85e5-45e6-ae88-89b9435e3430",
    "mediaKey": "d4161409-61d1-42a1-81cd-9eec34048c39",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successConferenceImage>
    <successFirstNumbers>
      <Value><![CDATA[689]]></Value>
    </successFirstNumbers>
    <successFirstText>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </successFirstText>
    <successHeadline>
      <Value><![CDATA[Success Story]]></Value>
    </successHeadline>
    <successSecondNumbers>
      <Value><![CDATA[370]]></Value>
    </successSecondNumbers>
    <successSecondText>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </successSecondText>
    <successSectionTitle>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successSectionTitle>
    <successThirdNumbers>
      <Value><![CDATA[125]]></Value>
    </successThirdNumbers>
    <successThirdText>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </successThirdText>
    <workteamBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "272a235c-1fdd-427b-b9e9-00c8b5b30a58",
    "mediaKey": "b88bfe6d-e2bb-49f0-a00d-65112044128d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </workteamBackgroundImage>
    <workteamButtonText>
      <Value><![CDATA[Read our story]]></Value>
    </workteamButtonText>
    <workteamButtonUrl>
      <Value><![CDATA[/home]]></Value>
    </workteamButtonUrl>
    <workteamHeadline>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </workteamHeadline>
    <workteamHeadlineColored>
      <Value><![CDATA[4.000+ clients]]></Value>
    </workteamHeadlineColored>
    <workteamImage>
      <Value><![CDATA[[
  {
    "key": "8dd538bd-f244-4101-84b6-3c4f1e6f488f",
    "mediaKey": "f523e145-b124-4b0e-8b25-11ec7ccf2e40",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </workteamImage>
    <workteamText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </workteamText>
  </Properties>
</Content>