<?xml version="1.0" encoding="utf-8"?>
<Content Key="b475e4ca-3783-4c0d-92e7-040872067286" Alias="Projects" Level="2">
  <Info>
    <Parent Key="53d45ca9-2de2-4b4a-9253-24990c7f2af6">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsPage</ContentType>
    <CreateDate>2024-10-02T18:41:33</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65eec130-ac4a-4946-b87f-20c90317ce9d">projectsPage</Template>
  </Info>
  <Properties>
    <asideContactBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "6dd9c164-225f-4899-b8eb-87408bf112f0",
    "mediaKey": "789a682d-8b83-4e62-ab89-a436e910e80f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </asideContactBackgroundImage>
    <asideContactText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </asideContactText>
    <asideContactTitle>
      <Value><![CDATA[How can we help you?]]></Value>
    </asideContactTitle>
    <asideTagsTagEight>
      <Value><![CDATA[Pricing]]></Value>
    </asideTagsTagEight>
    <asideTagsTagFive>
      <Value><![CDATA[App]]></Value>
    </asideTagsTagFive>
    <asideTagsTagFour>
      <Value><![CDATA[Business]]></Value>
    </asideTagsTagFour>
    <asideTagsTagOne>
      <Value><![CDATA[Report]]></Value>
    </asideTagsTagOne>
    <asideTagsTagSeven>
      <Value><![CDATA[Finance]]></Value>
    </asideTagsTagSeven>
    <asideTagsTagSix>
      <Value><![CDATA[Project]]></Value>
    </asideTagsTagSix>
    <asideTagsTagThree>
      <Value><![CDATA[Insights]]></Value>
    </asideTagsTagThree>
    <asideTagsTagTwo>
      <Value><![CDATA[Business plans]]></Value>
    </asideTagsTagTwo>
    <asideTagsTitle>
      <Value><![CDATA[Tags]]></Value>
    </asideTagsTitle>
    <contactBackgroundImageOne>
      <Value><![CDATA[[
  {
    "key": "c4477729-1b2f-472f-bf45-b565d7080f4f",
    "mediaKey": "54b5ec14-ede1-4518-84db-4e1b39cbabfe",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImageOne>
    <contactBackgroundImageTwo>
      <Value><![CDATA[[
  {
    "key": "7a8dd5a9-cbec-4f5b-8312-7ba04fb7443a",
    "mediaKey": "6a555230-0374-4ff3-ac78-acf04d066722",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImageTwo>
    <contactBoxOneText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactBoxOneText>
    <contactBoxOneTitle>
      <Value><![CDATA[Office location]]></Value>
    </contactBoxOneTitle>
    <contactBoxThreeText>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactBoxThreeText>
    <contactBoxThreeTitle>
      <Value><![CDATA[E-mail address]]></Value>
    </contactBoxThreeTitle>
    <contactBoxTwoText>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactBoxTwoText>
    <contactBoxTwoTitle>
      <Value><![CDATA[Phone number]]></Value>
    </contactBoxTwoTitle>
    <contactHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactHeadline>
    <contactMainImage>
      <Value><![CDATA[[
  {
    "key": "e9468853-a16d-4b29-a46a-cb151d89fbfb",
    "mediaKey": "826e48c5-5b71-4296-b616-d38a44aeec82",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactMainImage>
    <pageTitle>
      <Value><![CDATA[Projects]]></Value>
    </pageTitle>
    <pageTitleBreadcrumbCurrentText>
      <Value><![CDATA[Projects]]></Value>
    </pageTitleBreadcrumbCurrentText>
    <pageTitleBreadcrumbText>
      <Value><![CDATA[Home]]></Value>
    </pageTitleBreadcrumbText>
    <pageTitleBreadcrumbUrl>
      <Value><![CDATA[/]]></Value>
    </pageTitleBreadcrumbUrl>
    <pageTitleHeadline>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitleHeadline>
    <projectFourDate>
      <Value><![CDATA[January 3, 2024]]></Value>
    </projectFourDate>
    <projectFourImage>
      <Value><![CDATA[[
  {
    "key": "1dca77f9-fc95-464f-8b9f-22f50916906b",
    "mediaKey": "84bcf04a-d369-4351-8407-170d2d562e47",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectFourImage>
    <projectFourLinkText>
      <Value><![CDATA[Read more]]></Value>
    </projectFourLinkText>
    <projectFourLinkUrl>
      <Value><![CDATA[/projects/]]></Value>
    </projectFourLinkUrl>
    <projectFourText>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectFourText>
    <projectFourTitle>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </projectFourTitle>
    <projectOneDate>
      <Value><![CDATA[June 15, 2024]]></Value>
    </projectOneDate>
    <projectOneImage>
      <Value><![CDATA[[
  {
    "key": "a2db66c1-5cc4-4196-ba8e-e3db62920119",
    "mediaKey": "d1e2b327-5992-4742-96d7-ce1f5c6612a0",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectOneImage>
    <projectOneLinkText>
      <Value><![CDATA[Read more]]></Value>
    </projectOneLinkText>
    <projectOneLinkUrl>
      <Value><![CDATA[/projects/annual-report/]]></Value>
    </projectOneLinkUrl>
    <projectOneText>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectOneText>
    <projectOneTitle>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </projectOneTitle>
    <projectThreeDate>
      <Value><![CDATA[February 6, 2024]]></Value>
    </projectThreeDate>
    <projectThreeImage>
      <Value><![CDATA[[
  {
    "key": "3b2618c1-c4b9-4327-b572-376c4d347786",
    "mediaKey": "834372a5-9fc1-47ef-a3c6-58db981eaa82",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectThreeImage>
    <projectThreeLinkText>
      <Value><![CDATA[Read more]]></Value>
    </projectThreeLinkText>
    <projectThreeLinkUrl>
      <Value><![CDATA[/projects/]]></Value>
    </projectThreeLinkUrl>
    <projectThreeText>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectThreeText>
    <projectThreeTitle>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </projectThreeTitle>
    <projectTwoDate>
      <Value><![CDATA[May 17, 2024]]></Value>
    </projectTwoDate>
    <projectTwoImage>
      <Value><![CDATA[[
  {
    "key": "e39b18e4-64f5-4db0-809d-c82e7320c6fc",
    "mediaKey": "84396447-e986-49e1-ae16-972559afcf59",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectTwoImage>
    <projectTwoLinkText>
      <Value><![CDATA[Read more]]></Value>
    </projectTwoLinkText>
    <projectTwoLinkUrl>
      <Value><![CDATA[/projects/]]></Value>
    </projectTwoLinkUrl>
    <projectTwoText>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectTwoText>
    <projectTwoTitle>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </projectTwoTitle>
  </Properties>
</Content>