<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d903dbf-37f4-4436-9bea-707e1ad5e597" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="d82d1a95-71b6-4d4d-840d-d77808e90e7d">Services</Parent>
    <Path>/Home/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>riskManagementPage</ContentType>
    <CreateDate>2024-10-02T16:34:17</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0cf543f2-4b6d-4d06-8bd6-c6ed1941d220">riskManagementPage</Template>
  </Info>
  <Properties>
    <articleOneBulletedTextOne>
      <Value><![CDATA[Financial planning is the process of helping clients meet their financial needs today and reach their dreams and goals tomorrow.]]></Value>
    </articleOneBulletedTextOne>
    <articleOneBulletedTextThree>
      <Value><![CDATA[In hac habitasse platea dictumst. Aliquam felis ante, tincidunt sed magna auctor, aliquet dapibus turpis.]]></Value>
    </articleOneBulletedTextThree>
    <articleOneBulletedTextTwo>
      <Value><![CDATA[Pellentesque fringilla augue quis dolor dapibus semper eget non nibh. Ut lobortis, nulla sed euismod posuere, quam magna scelerisque lectus, auctor iaculis quam ligula nec augue]]></Value>
    </articleOneBulletedTextTwo>
    <articleOneImage>
      <Value><![CDATA[[
  {
    "key": "59129c31-dca4-4da5-a9f1-7e41c5cc2837",
    "mediaKey": "b4ba4a48-2610-49f7-b1ce-050be86150c0",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </articleOneImage>
    <articleOneTitle>
      <Value><![CDATA[key point]]></Value>
    </articleOneTitle>
    <articleThreeBulletedTextFour>
      <Value><![CDATA[Leave a legacy. Legacy is about the impact you’ll make on the people, charities and causes that are important to you.]]></Value>
    </articleThreeBulletedTextFour>
    <articleThreeBulletedTextOne>
      <Value><![CDATA[Cover your essentials. Essentials are the monthly expenses that keep your life running.]]></Value>
    </articleThreeBulletedTextOne>
    <articleThreeBulletedTextThree>
      <Value><![CDATA[Prepare for the unexpected. The unexpected are events that could derail your financial plans.]]></Value>
    </articleThreeBulletedTextThree>
    <articleThreeBulletedTextTwo>
      <Value><![CDATA[Ensure your lifestyle. Lifestyle is about the things that you want to do, and how you want to live, today and in the future.]]></Value>
    </articleThreeBulletedTextTwo>
    <articleThreeText>
      <Value><![CDATA[Working with a financial advisor may help you come away feeling more confident knowing that you have the support you need to help:]]></Value>
    </articleThreeText>
    <articleThreeTitle>
      <Value><![CDATA[We’ll help you achieve financial confidence]]></Value>
    </articleThreeTitle>
    <articleTwoBulletedTextOne>
      <Value><![CDATA[Listen closely to you and learn what you value]]></Value>
    </articleTwoBulletedTextOne>
    <articleTwoBulletedTextThree>
      <Value><![CDATA[Understand your feelings about managing money and investments]]></Value>
    </articleTwoBulletedTextThree>
    <articleTwoBulletedTextTwo>
      <Value><![CDATA[Analyze your current financial situation]]></Value>
    </articleTwoBulletedTextTwo>
    <articleTwoImage>
      <Value><![CDATA[[
  {
    "key": "9d9db549-a546-48da-8cbe-36deffedcd36",
    "mediaKey": "7ac01538-e4f9-4614-9f8a-937c9284e38f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </articleTwoImage>
    <articleTwoTextOne>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ENo matter where you find yourself today or see yourself in the future, a financial planning relationship with an Ameriprise financial advisor can help you find your financial balance and bring your dreams and goals more within reach.\u003C/div\u003E\n\u003Cdiv\u003E\n\u003Cdiv\u003E\n\u003Cdiv\u003EOur Confident Retirement approach to financial planning begins with a one-on-one conversation. At its core is a personal relationship with an advisor dedicated to helping you reach the future you imagine, on your own terms, in a way that is convenient for you.\u003C/div\u003E\n\u003Cdiv\u003E\n\u003Cdiv\u003E\n\u003Cdiv\u003EThe financial planning process all starts with learning about you. Your advisor will take the time to:\u003C/div\u003E\n\u003C/div\u003E\n\u003C/div\u003E\n\u003C/div\u003E\n\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </articleTwoTextOne>
    <articleTwoTextTwo>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EThen your advisor will offer personalized advice and guidance to help you reach your financial goals. Ameriprise advisors have access to a broad array of solutions to help you plan for your confident future.\u003C/div\u003E\n\u003Cdiv\u003E\n\u003Cdiv\u003E\n\u003Cdiv\u003EAnd once you have a plan in place, you may feel more confident knowing that your advisor will stay with you over time, helping you track your progress toward your goals and making adjustments along the way when your life or dreams change\u003C/div\u003E\n\u003C/div\u003E\n\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </articleTwoTextTwo>
    <articleTwoTitle>
      <Value><![CDATA[A financial plan is based on a personal relationship]]></Value>
    </articleTwoTitle>
    <asideContactBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "0d528e3c-76e7-4507-beac-69bc0af8189f",
    "mediaKey": "58c1081b-20a9-46dd-b217-040ecb2a7bd1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </asideContactBackgroundImage>
    <asideContactText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </asideContactText>
    <asideContactTitle>
      <Value><![CDATA[How can we help you?]]></Value>
    </asideContactTitle>
    <asideHeadline>
      <Value><![CDATA[About us]]></Value>
    </asideHeadline>
    <asideImage>
      <Value><![CDATA[[
  {
    "key": "ed125b61-5615-41d7-b5da-d47dbce60488",
    "mediaKey": "cc8f8cb2-0cef-4c95-bd51-a9287bcc9fe1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </asideImage>
    <asideText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </asideText>
    <contactBackgroundImageOne>
      <Value><![CDATA[[
  {
    "key": "68712174-98d1-492d-a3a3-c420b89e355c",
    "mediaKey": "54b5ec14-ede1-4518-84db-4e1b39cbabfe",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImageOne>
    <contactBackgroundImageTwo>
      <Value><![CDATA[[
  {
    "key": "151f309c-bc4c-4994-9473-53257fe93c0b",
    "mediaKey": "6a555230-0374-4ff3-ac78-acf04d066722",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImageTwo>
    <contactBoxOneText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactBoxOneText>
    <contactBoxOneTitle>
      <Value><![CDATA[Office location]]></Value>
    </contactBoxOneTitle>
    <contactBoxThreeText>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactBoxThreeText>
    <contactBoxThreeTitle>
      <Value><![CDATA[E-mail address]]></Value>
    </contactBoxThreeTitle>
    <contactBoxTwoText>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactBoxTwoText>
    <contactBoxTwoTitle>
      <Value><![CDATA[Phone number]]></Value>
    </contactBoxTwoTitle>
    <contactHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactHeadline>
    <contactMainImage>
      <Value><![CDATA[[
  {
    "key": "337499e4-1d2b-41de-8f34-46c431563b99",
    "mediaKey": "826e48c5-5b71-4296-b616-d38a44aeec82",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactMainImage>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <pageTitleBreadcrumbCurrentText>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitleBreadcrumbCurrentText>
    <pageTitleBreadcrumbTextOne>
      <Value><![CDATA[Home]]></Value>
    </pageTitleBreadcrumbTextOne>
    <pageTitleBreadcrumbTextTwo>
      <Value><![CDATA[Services]]></Value>
    </pageTitleBreadcrumbTextTwo>
    <pageTitleBreadcrumbUrlOne>
      <Value><![CDATA[/]]></Value>
    </pageTitleBreadcrumbUrlOne>
    <pageTitleBreadcrumbUrlTwo>
      <Value><![CDATA[/services/]]></Value>
    </pageTitleBreadcrumbUrlTwo>
    <pageTitleHeadline>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitleHeadline>
  </Properties>
</Content>