<?xml version="1.0" encoding="utf-8"?>
<Content Key="d82d1a95-71b6-4d4d-840d-d77808e90e7d" Alias="Services" Level="2">
  <Info>
    <Parent Key="53d45ca9-2de2-4b4a-9253-24990c7f2af6">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2024-10-02T15:50:58</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f27bf08-2941-4692-87c0-fa3d1470ecaa">servicesPage</Template>
  </Info>
  <Properties>
    <contactBackgroundImageOne>
      <Value><![CDATA[[
  {
    "key": "b3c5ab77-275e-4997-a8fb-09de70fc0b8d",
    "mediaKey": "54b5ec14-ede1-4518-84db-4e1b39cbabfe",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImageOne>
    <contactBackgroundImageTwo>
      <Value><![CDATA[[
  {
    "key": "6993b4cd-ab13-4ed5-b4f9-02e7868aa1ae",
    "mediaKey": "6a555230-0374-4ff3-ac78-acf04d066722",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImageTwo>
    <contactBoxOneText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactBoxOneText>
    <contactBoxOneTitle>
      <Value><![CDATA[Office location]]></Value>
    </contactBoxOneTitle>
    <contactBoxThreeText>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactBoxThreeText>
    <contactBoxThreeTitle>
      <Value><![CDATA[E-mail address]]></Value>
    </contactBoxThreeTitle>
    <contactBoxTwoText>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactBoxTwoText>
    <contactBoxTwoTitle>
      <Value><![CDATA[Phone number]]></Value>
    </contactBoxTwoTitle>
    <contactHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactHeadline>
    <contactMainImage>
      <Value><![CDATA[[
  {
    "key": "67b2aa12-8c30-4d21-a4bf-5e4f6a296126",
    "mediaKey": "826e48c5-5b71-4296-b616-d38a44aeec82",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactMainImage>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <pageTitleHeadline>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitleHeadline>
    <servicesBreadcrumbCurrentText>
      <Value><![CDATA[Services]]></Value>
    </servicesBreadcrumbCurrentText>
    <servicesBreadcrumbText>
      <Value><![CDATA[Home]]></Value>
    </servicesBreadcrumbText>
    <servicesBreadcrumbUrl>
      <Value><![CDATA[/]]></Value>
    </servicesBreadcrumbUrl>
    <servicesCardFiveImage>
      <Value><![CDATA[[
  {
    "key": "4b1a1f09-cba9-4c2f-8563-859a17142dbe",
    "mediaKey": "79c2c395-17eb-4492-94cb-412832f4524a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesCardFiveImage>
    <servicesCardFiveText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </servicesCardFiveText>
    <servicesCardFiveTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </servicesCardFiveTitle>
    <servicesCardFourImage>
      <Value><![CDATA[[
  {
    "key": "98d46292-e1f4-43af-9978-7e6a1e4e5e46",
    "mediaKey": "8daca2b0-ec6f-434c-806b-667c894a459b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesCardFourImage>
    <servicesCardFourText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </servicesCardFourText>
    <servicesCardFourTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </servicesCardFourTitle>
    <servicesCardOneImage>
      <Value><![CDATA[[
  {
    "key": "b8bf0551-162f-43fd-bf8c-fa368336c07b",
    "mediaKey": "ce5d92a1-22d0-4cfe-afe9-60ad83854120",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesCardOneImage>
    <servicesCardOneText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </servicesCardOneText>
    <servicesCardOneTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </servicesCardOneTitle>
    <servicesCardSixImage>
      <Value><![CDATA[[
  {
    "key": "b86899ac-35a9-47f0-b723-971d21fa8619",
    "mediaKey": "0ef60903-91b2-49d7-99b0-a8a495df31a1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesCardSixImage>
    <servicesCardSixText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </servicesCardSixText>
    <servicesCardSixTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </servicesCardSixTitle>
    <servicesCardThreeImage>
      <Value><![CDATA[[
  {
    "key": "4630e409-88f5-4d40-ab34-3fa09eb518ee",
    "mediaKey": "943d0f20-ee23-4208-8f9e-f0d0e73e92c4",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesCardThreeImage>
    <servicesCardThreeText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </servicesCardThreeText>
    <servicesCardThreeTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </servicesCardThreeTitle>
    <servicesCardTwoImage>
      <Value><![CDATA[[
  {
    "key": "47b35621-4637-4a55-9610-6471dd8191ad",
    "mediaKey": "c13a49dc-7fea-41c6-8ad4-794b6c115e0e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesCardTwoImage>
    <servicesCardTwoText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </servicesCardTwoText>
    <servicesCardTwoTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </servicesCardTwoTitle>
    <servicesHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Bussiness Faster]]></Value>
    </servicesHeadline>
  </Properties>
</Content>