<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff8ef2af-0d9f-4598-ab14-d3d1a3848669" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-10-03T16:22:42</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <officeLocation>
      <Value><![CDATA[Klarabergsvviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "4fd0134b-c5d0-4d5e-8827-e2654c8fae43",
    "mediaKey": "dd34208c-7c5b-45ef-9d9f-ee7fce84c908",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix.]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[]]></Value>
    </siteTagline>
  </Properties>
</Content>