<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6395f60-fc5a-4863-aecc-439ec26daa69" Alias="annualreport-image1.svg" Level="2">
  <Info>
    <Parent Key="91ab9f77-b167-4970-a593-a00497f62470">ProjectDetails</Parent>
    <Path>/ProjectDetails/annualreportImage1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:47:37</CreateDate>
    <NodeName Default="annualreport-image1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/slrjwvcb/annualreport-image1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>