<?xml version="1.0" encoding="utf-8"?>
<Media Key="78a89b7c-fc95-4510-8792-17bc317e069b" Alias="annualreport-image2.svg" Level="2">
  <Info>
    <Parent Key="91ab9f77-b167-4970-a593-a00497f62470">ProjectDetails</Parent>
    <Path>/ProjectDetails/annualreportImage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:47:38</CreateDate>
    <NodeName Default="annualreport-image2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rytavguo/annualreport-image2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>