<?xml version="1.0" encoding="utf-8"?>
<Media Key="9424c48f-ca27-436b-a9d7-401457c985ab" Alias="annualreport-image3.svg" Level="2">
  <Info>
    <Parent Key="91ab9f77-b167-4970-a593-a00497f62470">ProjectDetails</Parent>
    <Path>/ProjectDetails/annualreportImage3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:47:39</CreateDate>
    <NodeName Default="annualreport-image3.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pv2jm3r2/annualreport-image3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>