<?xml version="1.0" encoding="utf-8"?>
<Media Key="54b5ec14-ede1-4518-84db-4e1b39cbabfe" Alias="Bg.svg" Level="2">
  <Info>
    <Parent Key="b0336a4a-1b73-4f6f-938a-20f6c1dbdeff">Globals</Parent>
    <Path>/Globals/Bgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:45:45</CreateDate>
    <NodeName Default="Bg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2zibpnx0/bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>