<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4161409-61d1-42a1-81cd-9eec34048c39" Alias="conference.svg" Level="2">
  <Info>
    <Parent Key="cffa27b2-a3af-4053-9a86-20ae976f74dd">Home</Parent>
    <Path>/Home/conferencesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:46:41</CreateDate>
    <NodeName Default="conference.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5oulinwk/conference.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>