<?xml version="1.0" encoding="utf-8"?>
<Media Key="d326d053-95c4-4b2f-b361-ff7d7829230b" Alias="Contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-01T16:43:49</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>