<?xml version="1.0" encoding="utf-8"?>
<Media Key="b88bfe6d-e2bb-49f0-a00d-65112044128d" Alias="dot-map 1.svg" Level="2">
  <Info>
    <Parent Key="cffa27b2-a3af-4053-9a86-20ae976f74dd">Home</Parent>
    <Path>/Home/dotMap1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:46:42</CreateDate>
    <NodeName Default="dot-map 1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t3bdswva/dot-map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>