<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a555230-0374-4ff3-ac78-acf04d066722" Alias="Dot.svg" Level="2">
  <Info>
    <Parent Key="b0336a4a-1b73-4f6f-938a-20f6c1dbdeff">Globals</Parent>
    <Path>/Globals/Dotsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:45:46</CreateDate>
    <NodeName Default="Dot.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ylxppcdp/dot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>