<?xml version="1.0" encoding="utf-8"?>
<Media Key="fad3de60-093b-47d6-a976-5b4d083b37c4" Alias="expert-3.svg" Level="2">
  <Info>
    <Parent Key="d48ad852-9b5f-4b0f-9032-c2d63a1da880">About</Parent>
    <Path>/About/expert3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:45:05</CreateDate>
    <NodeName Default="expert-3.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sjrhcgba/expert-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>