<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a99ee3f-35d7-4d96-b0a1-88ebf9000f42" Alias="expert-5.svg" Level="2">
  <Info>
    <Parent Key="d48ad852-9b5f-4b0f-9032-c2d63a1da880">About</Parent>
    <Path>/About/expert5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:45:07</CreateDate>
    <NodeName Default="expert-5.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zvjdxkgm/expert-5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>