<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e68b5ec-68ea-4dd4-a5c0-eebf27f53c2f" Alias="expert-4.svg" Level="2">
  <Info>
    <Parent Key="d48ad852-9b5f-4b0f-9032-c2d63a1da880">About</Parent>
    <Path>/About/expert4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:45:06</CreateDate>
    <NodeName Default="expert-4.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dyemvhhr/expert-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>