<?xml version="1.0" encoding="utf-8"?>
<Media Key="3873c0b8-f377-48a3-9bc0-d731a6f6a29d" Alias="expert-2.svg" Level="2">
  <Info>
    <Parent Key="d48ad852-9b5f-4b0f-9032-c2d63a1da880">About</Parent>
    <Path>/About/expert2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:45:05</CreateDate>
    <NodeName Default="expert-2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jj4ndwtm/expert-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>