<?xml version="1.0" encoding="utf-8"?>
<Media Key="284b92b5-62e8-45fb-82c1-db25e419f997" Alias="expert-7.svg" Level="2">
  <Info>
    <Parent Key="d48ad852-9b5f-4b0f-9032-c2d63a1da880">About</Parent>
    <Path>/About/expert7svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:45:09</CreateDate>
    <NodeName Default="expert-7.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i2xptsxt/expert-7.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>