<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ad06e7d-b3db-4a0e-ad07-440bf9e2ea41" Alias="expert-1.svg" Level="2">
  <Info>
    <Parent Key="d48ad852-9b5f-4b0f-9032-c2d63a1da880">About</Parent>
    <Path>/About/expert1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:45:04</CreateDate>
    <NodeName Default="expert-1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r5jhfgga/expert-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>