<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4c3506b-23a3-44ae-8492-45fb7f3b400c" Alias="expert-6.svg" Level="2">
  <Info>
    <Parent Key="d48ad852-9b5f-4b0f-9032-c2d63a1da880">About</Parent>
    <Path>/About/expert6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:45:08</CreateDate>
    <NodeName Default="expert-6.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/thwhcrvy/expert-6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>