<?xml version="1.0" encoding="utf-8"?>
<Media Key="3967041d-6e58-4084-88c1-6b8b2990aec6" Alias="fossilgroup.svg" Level="3">
  <Info>
    <Parent Key="817b8254-46f0-41d5-bba6-30bf72b82e77">logos</Parent>
    <Path>/Home/logos/fossilgroupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:47:03</CreateDate>
    <NodeName Default="fossilgroup.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/342nlw0d/fossilgroup.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>