<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0336a4a-1b73-4f6f-938a-20f6c1dbdeff" Alias="Globals" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Globals</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-01T16:43:57</CreateDate>
    <NodeName Default="Globals" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>