<?xml version="1.0" encoding="utf-8"?>
<Media Key="d060adf3-bca1-433f-a931-073bcdb73e57" Alias="globe.svg" Level="3">
  <Info>
    <Parent Key="817b8254-46f0-41d5-bba6-30bf72b82e77">logos</Parent>
    <Path>/Home/logos/globesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:47:04</CreateDate>
    <NodeName Default="globe.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aeimemv0/globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>