<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8f7811b-e9ad-4b7a-b739-a9e43bc605ff" Alias="gray-image.svg" Level="2">
  <Info>
    <Parent Key="91ab9f77-b167-4970-a593-a00497f62470">ProjectDetails</Parent>
    <Path>/ProjectDetails/grayImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:47:39</CreateDate>
    <NodeName Default="gray-image.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3e4fkwvw/gray-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>