<?xml version="1.0" encoding="utf-8"?>
<Media Key="cffa27b2-a3af-4053-9a86-20ae976f74dd" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-01T16:44:13</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>