<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d23850a-ab11-4541-8faa-8839c4ac5759" Alias="identity.svg" Level="3">
  <Info>
    <Parent Key="817b8254-46f0-41d5-bba6-30bf72b82e77">logos</Parent>
    <Path>/Home/logos/identitysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:47:05</CreateDate>
    <NodeName Default="identity.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5a2ic5yk/identity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>