<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4ba4a48-2610-49f7-b1ce-050be86150c0" Alias="image2.svg" Level="2">
  <Info>
    <Parent Key="b3b807fd-b67a-451c-87fb-463768cc57df">ServiceDetails</Parent>
    <Path>/ServiceDetails/image2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:48:11</CreateDate>
    <NodeName Default="image2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xl1bqvql/image2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>