<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ac01538-e4f9-4614-9f8a-937c9284e38f" Alias="image3.svg" Level="2">
  <Info>
    <Parent Key="b3b807fd-b67a-451c-87fb-463768cc57df">ServiceDetails</Parent>
    <Path>/ServiceDetails/image3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:48:11</CreateDate>
    <NodeName Default="image3.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zkugfghc/image3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>