<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc8f8cb2-0cef-4c95-bd51-a9287bcc9fe1" Alias="image1.svg" Level="2">
  <Info>
    <Parent Key="b3b807fd-b67a-451c-87fb-463768cc57df">ServiceDetails</Parent>
    <Path>/ServiceDetails/image1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:48:10</CreateDate>
    <NodeName Default="image1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iayd0lxu/image1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>