<?xml version="1.0" encoding="utf-8"?>
<Media Key="826e48c5-5b71-4296-b616-d38a44aeec82" Alias="Img-5-e1695109900349 1.svg" Level="2">
  <Info>
    <Parent Key="b0336a4a-1b73-4f6f-938a-20f6c1dbdeff">Globals</Parent>
    <Path>/Globals/Img5E16951099003491svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:45:47</CreateDate>
    <NodeName Default="Img-5-e1695109900349 1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g50nyydk/img-5-e1695109900349-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>