<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f9f8a45-323d-4ac9-b8ec-bab3e6686451" Alias="img_choose_01_home01 1.svg" Level="2">
  <Info>
    <Parent Key="d48ad852-9b5f-4b0f-9032-c2d63a1da880">About</Parent>
    <Path>/About/img_choose_01_home011svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:45:10</CreateDate>
    <NodeName Default="img_choose_01_home01 1.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w21d15jg/img_choose_01_home01-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>