<?xml version="1.0" encoding="utf-8"?>
<Media Key="739c1cb0-53e6-4074-9b36-2b7ff91975cc" Alias="kevin-gardner.svg" Level="2">
  <Info>
    <Parent Key="d48ad852-9b5f-4b0f-9032-c2d63a1da880">About</Parent>
    <Path>/About/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:45:10</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ikqd3ep3/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>