<?xml version="1.0" encoding="utf-8"?>
<Media Key="817b8254-46f0-41d5-bba6-30bf72b82e77" Alias="logos" Level="2">
  <Info>
    <Parent Key="cffa27b2-a3af-4053-9a86-20ae976f74dd">Home</Parent>
    <Path>/Home/logos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-01T16:46:28</CreateDate>
    <NodeName Default="logos" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>