<?xml version="1.0" encoding="utf-8"?>
<Media Key="73168b07-622c-40ce-8a84-225000e4b8e0" Alias="map 1.svg" Level="2">
  <Info>
    <Parent Key="d326d053-95c4-4b2f-b361-ff7d7829230b">Contact</Parent>
    <Path>/Contact/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:45:29</CreateDate>
    <NodeName Default="map 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4u1ljejx/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>