<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bb262c4-0dd3-46d8-ae55-af96234e3c5d" Alias="natural.svg" Level="3">
  <Info>
    <Parent Key="817b8254-46f0-41d5-bba6-30bf72b82e77">logos</Parent>
    <Path>/Home/logos/naturalsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:47:06</CreateDate>
    <NodeName Default="natural.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g1pbbgoi/natural.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>