<?xml version="1.0" encoding="utf-8"?>
<Media Key="89390363-f42c-4bec-a23d-16816b1ad4ac" Alias="OnlineSignatures.net-302 1.svg" Level="2">
  <Info>
    <Parent Key="cffa27b2-a3af-4053-9a86-20ae976f74dd">Home</Parent>
    <Path>/Home/OnlineSignaturesnet3021svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:46:44</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sg5jw0zx/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>