<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8b4b027-f610-43bf-884f-8def0381fac6" Alias="pj1.svg" Level="3">
  <Info>
    <Parent Key="681c47cc-be7e-4490-9bab-1cb3abddf2c0">recent-projects</Parent>
    <Path>/Home/recentProjects/pj1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:47:21</CreateDate>
    <NodeName Default="pj1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0ugbmgql/pj1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>