<?xml version="1.0" encoding="utf-8"?>
<Media Key="dbef342d-4e1b-449b-9df1-b1b18e5a1a94" Alias="pj2.svg" Level="3">
  <Info>
    <Parent Key="681c47cc-be7e-4490-9bab-1cb3abddf2c0">recent-projects</Parent>
    <Path>/Home/recentProjects/pj2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:47:22</CreateDate>
    <NodeName Default="pj2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/14ef0oia/pj2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>