<?xml version="1.0" encoding="utf-8"?>
<Media Key="07a699cd-18c5-46a5-8e7b-a9a7b1758cde" Alias="pj3.svg" Level="3">
  <Info>
    <Parent Key="681c47cc-be7e-4490-9bab-1cb3abddf2c0">recent-projects</Parent>
    <Path>/Home/recentProjects/pj3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:47:23</CreateDate>
    <NodeName Default="pj3.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h2sajzo4/pj3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>