<?xml version="1.0" encoding="utf-8"?>
<Media Key="0331c4fb-b7ff-4650-acc0-637bc708daed" Alias="pj4.svg" Level="3">
  <Info>
    <Parent Key="681c47cc-be7e-4490-9bab-1cb3abddf2c0">recent-projects</Parent>
    <Path>/Home/recentProjects/pj4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:47:24</CreateDate>
    <NodeName Default="pj4.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bf2jhype/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>