<?xml version="1.0" encoding="utf-8"?>
<Media Key="84bcf04a-d369-4351-8407-170d2d562e47" Alias="project-image4.svg" Level="2">
  <Info>
    <Parent Key="9a2d56c9-cde3-42ac-a8ed-9e98587d7109">Projects</Parent>
    <Path>/Projects/projectImage4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:47:57</CreateDate>
    <NodeName Default="project-image4.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xbgb2zts/project-image4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>