<?xml version="1.0" encoding="utf-8"?>
<Media Key="84396447-e986-49e1-ae16-972559afcf59" Alias="project-image2.svg" Level="2">
  <Info>
    <Parent Key="9a2d56c9-cde3-42ac-a8ed-9e98587d7109">Projects</Parent>
    <Path>/Projects/projectImage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:47:55</CreateDate>
    <NodeName Default="project-image2.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wxmjwzu3/project-image2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>