<?xml version="1.0" encoding="utf-8"?>
<Media Key="834372a5-9fc1-47ef-a3c6-58db981eaa82" Alias="project-image3.svg" Level="2">
  <Info>
    <Parent Key="9a2d56c9-cde3-42ac-a8ed-9e98587d7109">Projects</Parent>
    <Path>/Projects/projectImage3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:47:56</CreateDate>
    <NodeName Default="project-image3.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k5hpcyo0/project-image3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>