<?xml version="1.0" encoding="utf-8"?>
<Media Key="91ab9f77-b167-4970-a593-a00497f62470" Alias="ProjectDetails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProjectDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-01T16:44:28</CreateDate>
    <NodeName Default="ProjectDetails" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>