<?xml version="1.0" encoding="utf-8"?>
<Media Key="681c47cc-be7e-4490-9bab-1cb3abddf2c0" Alias="recent-projects" Level="2">
  <Info>
    <Parent Key="cffa27b2-a3af-4053-9a86-20ae976f74dd">Home</Parent>
    <Path>/Home/recentProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-01T16:46:36</CreateDate>
    <NodeName Default="recent-projects" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>