<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3b807fd-b67a-451c-87fb-463768cc57df" Alias="ServiceDetails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServiceDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-01T16:44:46</CreateDate>
    <NodeName Default="ServiceDetails" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>