<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8694090-a19a-4e52-82b1-3ef250ba8a55" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-01T16:44:55</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>