<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a5b0c11-9e63-4ae1-bd86-c3eeecbc4fb4" Alias="simpleaf.svg" Level="3">
  <Info>
    <Parent Key="817b8254-46f0-41d5-bba6-30bf72b82e77">logos</Parent>
    <Path>/Home/logos/simpleafsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:47:07</CreateDate>
    <NodeName Default="simpleaf.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2oyptgdy/simpleaf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>