<?xml version="1.0" encoding="utf-8"?>
<Media Key="384579a8-7fb2-47dd-a177-9d5b6cef2449" Alias="sl-home2.svg" Level="2">
  <Info>
    <Parent Key="cffa27b2-a3af-4053-9a86-20ae976f74dd">Home</Parent>
    <Path>/Home/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:46:45</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/llcopwvj/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>