<?xml version="1.0" encoding="utf-8"?>
<Media Key="79c2c395-17eb-4492-94cb-412832f4524a" Alias="solutions-image-5.svg" Level="2">
  <Info>
    <Parent Key="e8694090-a19a-4e52-82b1-3ef250ba8a55">Services</Parent>
    <Path>/Services/solutionsImage5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:48:29</CreateDate>
    <NodeName Default="solutions-image-5.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m35gbg5q/solutions-image-5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>