<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce5d92a1-22d0-4cfe-afe9-60ad83854120" Alias="solutions-image-1.svg" Level="2">
  <Info>
    <Parent Key="e8694090-a19a-4e52-82b1-3ef250ba8a55">Services</Parent>
    <Path>/Services/solutionsImage1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:48:26</CreateDate>
    <NodeName Default="solutions-image-1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kmxp4lgl/solutions-image-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>