<?xml version="1.0" encoding="utf-8"?>
<Media Key="8daca2b0-ec6f-434c-806b-667c894a459b" Alias="solutions-image-4.svg" Level="2">
  <Info>
    <Parent Key="e8694090-a19a-4e52-82b1-3ef250ba8a55">Services</Parent>
    <Path>/Services/solutionsImage4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:48:28</CreateDate>
    <NodeName Default="solutions-image-4.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iipb211u/solutions-image-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>