<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ef60903-91b2-49d7-99b0-a8a495df31a1" Alias="solutions-image-6.svg" Level="2">
  <Info>
    <Parent Key="e8694090-a19a-4e52-82b1-3ef250ba8a55">Services</Parent>
    <Path>/Services/solutionsImage6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:48:30</CreateDate>
    <NodeName Default="solutions-image-6.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4g0fj1fj/solutions-image-6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>