<?xml version="1.0" encoding="utf-8"?>
<Media Key="c13a49dc-7fea-41c6-8ad4-794b6c115e0e" Alias="solutions-image-2.svg" Level="2">
  <Info>
    <Parent Key="e8694090-a19a-4e52-82b1-3ef250ba8a55">Services</Parent>
    <Path>/Services/solutionsImage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:48:27</CreateDate>
    <NodeName Default="solutions-image-2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f10jqi5r/solutions-image-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>